@font-face {
    font-family: 'Josefin Sans';
    src: url("./assets/JosefinSans-VariableFont_wght.ttf");
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background-color: #F1F2DF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.logo {
    font-size: 60px;
    color: #304445;
    line-height: 1;
}

.menu-btn {
    background-color: none;
    border: none;
    cursor: pointer;
    width: 50px;
    padding: 0;
}

.menu-btn span {
    display: block;
    height: 4px;
    background-color: #304445;
    margin: 8px 0;
}

.nav-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    background-color: #304445;
    padding: 60px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav-menu nav {
    padding: 40px 0 0;
}

.nav-menu a {
    display: block;
    color: #F1F2DF;
    text-decoration: none;
    font-size: 40px;
    margin-bottom: 20px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 40px;
    color: #F1F2DF;
    line-height: 50px;
    z-index: 1001;
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #F2F4E1;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #304445;
    ;
    margin-top: 40px;
}

.line2 {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 50px;
}

.big-box {
    width: 100%;
    height: 300px;
    background-color: #609195;
    color: white;
   
}

.big-box2 {
    width: 100%;
    height: 400px;
    background-color: #304445;
    margin-top:0;
}

.big-box h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
}

.big-box p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.big-box2 h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    color: #F1F2DF;
    margin-top: 0;
}

.big-box2 p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: #F1F2DF;
}

.press-heading {
    text-align : center ;
    margin-top :70px;
    margin-bottom:50px;
}
.press-heading h1{
    color : #304445;
    font-size : 35px;
}
.event-card {
    width: 80%;
    max-width: 550px;
    margin: 50px auto;
    border: 2px solid #9ba39b;
    background-color: #F1F2DF;
    margin-top: 10px;
}

.event-card.third .book-image {
    background-color: #e6cb75
}

.event-card.first .book-image {
    background-color: #414042
}

.event-card.fourth .book-image {
    background-color: #A27C55
}
.event-card.second .book-image {
    background-color : #c4916c
}
.book-image {
    height: 500px;
    background-color: #514F5E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-card.third .book-image {
    height : 350px;
}
.event-card.third .book-image img {
    width: 70%;
    height : 100%;
    object-fit :contain;
}

.book-image img {
    width: 80%;
    height: 90%;
    object-fit: contain;
}

.event-info {
    padding: 40px;
}

.event-info h2 {
    color: #304445;
    font-size: 24px;
    margin: 0;
}

.event-info h3 {
    color: #304445;
    font-size: 18px;
}

.event-info button {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    background-color: #304445;
    color: #F1F2DF;
    text-align: center;
    border: none;
    font-size: 16px;
}

.intro-box {
    width: 100%;
    background-color: #304445;
    text-align: center;
    padding: 50px 0;
    color: #F1F2DF;
}

.intro-box h1 {
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 30px;
}

.intro-box p {
    font-size: 24px;
    line-height: 1.4;
    margin: 25px 0;
}
@media (max-width: 768px) {

    .event-card.third .book-image {
        height: 350px;
    }

    .event-card.third .book-image img {
        width: 85%;
        height: 100%;
        object-fit: contain;
    }
}